.card.form
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard

  %br
  %br

  %h1= @form.name

  %p.description= @form.description

  
  .signatoryPicker.block.row
    %div
      Who are you signing this form for?
    %button.btn.flle{data: {signatory: 'self'}} Yourself
    %button.btn.flld{data: {signatory: 'minor'}} Your minor child

  %form.formDetails
    .teamPicker.block.row
      .fx-2
        Which team(s) are you affiliated with?
      .column.fx-3
        %select{multiple: true, id: 'affiliationPicker'}
          - Team.where(number: { '$gt' => 0 }).order(program: 1, number: 1).each do |team|
            %option{value: "#{team.program}-#{team.number}", style: team.program == 'FRC' ? 'display: none' : 'display: block'}
              = team.program
              = team.number
              = team.name
          %option{value: "FIN-Volunteer", style: 'display: block'} Volunteer
        %input{name: 'filter', placeholder: 'Search / Filter', id: 'teamfilter' }
      .column.fx-1
        %a.btn.primary#addTeam{} Add
      .column#teamList.fx-3

    .block.row.participantInfo
      .formField
        %label{for: 'participantName'} Your Name
        %input{type: 'text', name: 'participantName', required: true}
      .formField
        %label{for: 'participantDOB'} Your Date of Birth
        %input{type: 'date', name: 'participantDOB', required: true}
      .formField
        %label{for: 'participantGrade'} Your Grade
        %select{name: 'participantGrade'}
          %option{value: 'NA'} Not Applicable
          %option{value: '-'} Other
          %option{value: 'K'} Kindergarten
          - (1..12).each do |g|
            %option{value: g}= g
    
    .block.row
      .formField.parentName
        %label{for: 'guardianName'} Your Name
        %input{type: 'text', name: 'guardianName'}
      .formField
        %label{for: 'contactEmail'} Your Email
        %input{type: 'text', name: 'contactEmail', required: true, value: @current_user&.email}
      .formField
        %label{for: 'contactPhone'} Your Phone Number
        %input{type: 'text', name: 'contactPhone', required: true}

    .block.row
      .formField
        %label{for: 'street1'} Street Address
        %input{type: 'text', name: 'street1', required: true}
        %label{for: 'street2'} Street Address 2
        %input{type: 'text', name: 'street2'}
      .formField
        %label{for: 'city'} City
        %input{type: 'text', name: 'city', required: true}
      .formField
        %label{for: 'state'} State
        %input{type: 'text', name: 'state', required: true}
      .formField
        %label{for: 'zip'} ZIP Code
        %input{type: 'text', name: 'zip', required: true}

    %hr 

    %article.formText
      = markdown @form.content

    %hr

    .parentSignature.row.signatureRow
      .column
        %label Your Signature
        %canvas.parentSignature.signatureBlock
        %input{type: 'hidden', id: 'parentSignature', name: 'parentSignature'}
      .column
        %label{for: 'parentSignatureDate'} Date
        %input#parentSignatureDate{type: 'date', name: 'parentSignatureDate'}

    .participantSignature.participantInfo.row.signatureRow
      .column
        %label Your Signature
        %canvas.participantSignature.signatureBlock
        %input{type: 'hidden', id: 'participantSignature', name: 'participantSignature'}
      .column
        %label{for: 'participantSignatureDate'} Date
        %input#participantSignatureDate{type: 'date', name: 'participantSignatureDate'}

    %hr 

    %button.btn.btn-massive.primary{data: {submit: true}} Submit Form

%datalist{id: 'list-FRC'}
  - Team.where(program: 'FRC').each do |team|
    %option{value: "FRC-#{team.number}"}
      = team.number
      - 
      = team.name

%datalist{id: 'list-FTC'}
  - Team.where(program: 'FTC').each do |team|
    %option{value: "FTC-#{team.number}"}
      = team.number
      - 
      = team.name

%datalist{id: 'list-FLLc'}
  - Team.where(program: 'FLLc').each do |team|
    %option{value: "FLLc-#{team.number}"}
      = team.number
      - 
      = team.name

%datalist{id: 'list-FLLe'}
  - Team.where(program: 'FLLe').each do |team|
    %option{value: "FLLe-#{team.number}"}
      = team.number
      - 
      = team.name

%datalist{id: 'list-FLLd'}
  - Team.where(program: 'FLLd').each do |team|
    %option{value: "FLLd-#{team.number}"}
      = team.number
      - 
      = team.name

%datalist{id: 'list-Other'}
  %option{value: 'Volunteer'} Event Volunteer
  %option{value: 'Statewide'} Statewide Initiative Participant
  %option{value: 'Committee'} Board of Directors / Committee Member


%script{src: "/formFiller.js", data: { 'turbo-track' => 'reload'}}
%script{src: "https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"}
