.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard
  %br
  %br

  - if @msgs.present?
    - @msgs.each do |msg|
      %p= msg

  %form{:action=>"/import",:method=>"post"   ,:enctype=>"multipart/form-data"}
    %input{:type=>"file",:name=>"file"}
    %input{:type=>"submit",:value=>"Upload"}

  %br

  - if @import
    %p
      Last import started at 
      = @import.started_at

      - if @import.finished_at
        and finished at 
        = @import.finished_at
    
    %code
      %pre= @import.log