.card
  .spreader
    %section.fx-2{style: 'padding-right: 2em;'}
      = markdown :'content/welcome'

      - if @current_user
        %h2 Your Forms
        - @submissions.each do |submission|
          .spreader.block
            %div
              %a{href: "/submissions/#{submission.id}"}= icon('print-magnifying-glass')
            .fx-3= @forms.find_by(id: submission.form_id).display
            .fx-2= submission.payload['participantName']
            

        %br

      %h2 Sign a New Form
      - @new_forms.each do |form|
        .spreader
          %a.btn.btn-form{href: "/forms/#{form.slug}/#{form.version}"}
            = form.display
          %div= form.description

    %section.fx-1.column
      - if @current_user
        - if @current_user.super_user
          %h2 Super User Tools
          %a.btn.primary{href: '/search'} Form Search
          %a.btn.frc{href: '/teams'} Team Management
          %a.btn.fllc{href: '/superusers'} Super Users
          %a.btn.flld{href: '/import'} HQ Data Import
          %hr
        
        - if @contact_for.present?
          %h2 Teams you Lead
          - @contact_for.each do |team|
            %a.btn{href: "/teams/#{team.program}/#{team.number}", class: team.program.downcase}
              = team.program
              = team.number
          %hr

        %form{action: "/login", method: "POST"}
          %input{type: 'hidden', name: '_method', value: 'DELETE'}
          %button.btn{type: "submit"}
            Log Out
      - else
        = markdown :'content/loginPrompt'
        %form{action: "/login", method: "POST"}
          %label
            Get your Magic Login Link
          %input{type: 'email', name: 'email', placeholder: 'Email Address', style: 'margin-bottom: 0.33em;'}
          %button.btn.primary{type: "submit"}
            Get Link!