<!DOCTYPE html>
<html class="full">
  <head>
    <title><%= ENV['ORGANIZATION'] %> Forms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="/application.css" rel="stylesheet" type="text/css" data-turbo-track="reload"/>
    <script src="<%= font_awesome_kit_url %>" crossorigin="anonymous"></script>
  </head>

  <body>
    <section id="brand">
      <img src="/logo.png" alt="<%= ENV['ORGANIZATION'] %>"/>
      <h1>Online Forms</h1>
    </section>

    <% if @flash.present? %>
      <% @flash.each do |msg| %>
        <section class="message <%= msg[:type] %>">
          <%= msg[:message] %>
        </section>
      <% end %>
    <% end %>

    <main id="container">
      <%= yield %>
    </main>
  </body>
</html>
