.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard
  %br
  %br
  = markdown :'content/loginPrompt'
  %form{action: "/login", method: "POST"}
    %label
      Get your Magic Login Link
    %input{type: 'email', name: 'email', placeholder: 'Email Address', style: 'margin-bottom: 0.33em;'}
    %button.btn.primary{type: "submit"}
      Get Link!