.card.form
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard

  %br
  %br

  %h1= @form.name

  %p.description= @form.description

  %div
    %form.teamPicker.block.row
      .fx-2
        Which team(s) are you affiliated with?
      .column.fx-3.noprint
        %select{multiple: true, id: 'affiliationPicker'}
          - Team.where(number: { '$gt' => 0 }).order(program: 1, number: 1).each do |team|
            %option{value: "#{team.program}-#{team.number}", style: team.program == 'FRC' ? 'display: none' : 'display: block'}
              = team.program
              = team.number
              = team.name
        %input{name: 'filter', placeholder: 'Search / Filter', id: 'teamfilter' }
      .column.fx-1.noprint
        %a.btn.primary#addTeam{} Add
      .column#teamList.fx-3
        - @payload['teams'].each do |team|
          %input{type: 'hidden', name: 'teams[]', value: team, data: { team: team }}
          %span.badge{class: team.split('-').first&.downcase, data: {team: team}}
            = team
            %button{class: 'remove', data: {team: team}}
              %i{class: 'fa-solid fa-xmark', data: {team: team}}

    .block.row.participantInfo
      .formField
        %label{for: 'participantName'} Name
        %span.filled= @payload['participantName']
      .formField
        %label{for: 'participantDOB'} Date of Birth
        %span.filled= @payload['participantDOB']
      .formField
        %label{for: 'participantGrade'} Grade
        %span.filled= @payload['participantGrade']
    
    .block.row
      - if @payload['guardianName'] != ''
        .formField.parentName
          %label{for: 'guardianName'} Parent/Guardian Name
          %span.filled= @payload['guardianName']
      .formField
        %label{for: 'contactEmail'} Email
        %span.filled= @payload['contactEmail']
      .formField
        %label{for: 'contactPhone'} Phone Number
        %span.filled= @payload['contactPhone']
      
    .block.row
      .formField
        %label{for: 'street1'} Street Address
        %span.filled= @payload['street1']
        - if @payload['street2'] != ''
          %span.filled= @payload['street2']
      .formField
        %label{for: 'city'} City
        %span.filled= @payload['city']
      .formField
        %label{for: 'state'} State
        %span.filled= @payload['state']
      .formField
        %label{for: 'zip'} ZIP Code
        %span.filled= @payload['zip']

    %hr 

    %article.formText
      = markdown @form.content

    %hr

    - if @payload['parentSignature'] != ''
      .parentSignature.row.signatureRow
        .column
          %label Parent Signature
          %img{src: @payload['parentSignature'] }
        .column
          %label{for: 'parentSignatureDate'} Date
          %span.filled= @payload['parentSignatureDate']

    .participantSignature.participantInfo.row.signatureRow
      .column
        %label Participant Signature
        %img{src: @payload['participantSignature'] }
      .column
        %label{for: 'participantSignatureDate'} Date
        %span.filled= @payload['participantSignatureDate']



%script{src: "/formPrinter.js", data: { 'turbo-track' => 'reload'}}
%script{src: "https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"}