.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard
  %br
  %br

  %form{ action: '/search', method: 'POST' }
    .spreader.block
      .formField.fx-2
        %label{for: 'form'} Form
        %select{name: 'form'}
          - Form.each do |f|
            %option{value: f.slug, selected: params[:form] == f.slug}= f.name
      .formField.fx-1
        %label{for: 'team'} Team ID
        %input{type: 'text', name: 'team', value: params[:team]}
      .formField.fx-2
        %label{for: 'email'} Email
        %input{type: 'text', name: 'email', value: params[:email]}
      .formField.fx-2
        %label{for: 'phone'} Phone
        %input{type: 'text', name: 'phone', value: params[:phone]}
      .formField.fx-1
        %label{for: 'zip'} ZIP Code
        %input{type: 'text', name: 'zip', value: params[:zip]}
    .spreader.block
      .formField.fx-1
        %label{for: 'date'} Sign Date
        %input{type: 'date', name: 'date', value: params[:date]}
      -#
        .formField.fx-3
          %label{for: 'text'} Everything Else
          %input{type: 'text', name: 'text', value: params[:text]}
      .formField
        %button.btn.primary{type: 'submit'} Search

- if (@results&.count || 0) > 0
  .card
    %table
      %thead
      %tbody
        - @results.each do |result|
          %tr
            %td
              %a{href: "/submissions/#{result.id}"}
                = icon('print-magnifying-glass')
            %td.font-s
              - result.payload['teams'].each do |team|
                %div.badge{class: team.split('-').first&.downcase}= team
            %td
              = result.payload['participantName']
              %br
              = result.payload['contactEmail']
            %td= result.payload['zip']
            %td= result.payload['participantSignatureDate']
