.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard

  %br
  %br

  %h1 Super User Management

  - @users.each do |user|
    .spreader.block
      .fx-3= user.email
      .fx-1 
        %form{action: "/superusers", method: "POST"}
          %input{type: 'hidden', name: '_method', value: 'DELETE'}
          %input{type: 'hidden', name: 'id', value: user.id}
          %button.btn{type: "submit"}
            Demote
  
  %h2 Promote a new Super User

  %form{action: '/superusers', method: 'POST'}
    %label Email Address
    %input{type: 'text', name: 'email'}
    %button.btn{type: 'submit'} Promote