.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard
  %br
  %br

  %h1
    %span.badge{class: @team.program.downcase}= @team.program
    = @team.number
    = @team.name

  .card
    %h2 Team Leads
    %table
      %thead
        %tr
          %th Name
          %th Contact Email
          %th Signature Date
          %th
      %tbody
        - @team.contacts.each do |contact|
          - submissions = @team.submissions.where('payload.contactEmail' => contact)
          - if submissions.present?
            - result = submissions.order('payload.participantSignatureDate' => 1).last
            %tr
              %td= result.payload['participantName']
              %td= result.payload['contactEmail']
              %td= result.payload['participantSignatureDate']
              %td
                - if @current_user.super_user
                  %form.noprint{action: "/teams/#{@team.program}/#{@team.number}/demote", method: "POST"}
                    %input{type: 'hidden', name: 'email', value: contact}
                    %button.btn{type: "submit"}
                      Demote
          - else
            %tr
              %td
              %td= contact
              %td HAS NOT SIGNED
              %td
                - if @current_user.super_user
                  %form.noprint{action: "/teams/#{@team.program}/#{@team.number}/demote", method: "POST"}
                    %input{type: 'hidden', name: 'email', value: contact}
                    %button.btn{type: "submit"}
                      Demote
            
    
    - if @current_user.super_user
      .noprint
        %br
        %h2 Promote a new Team Lead

        %form{action: "/teams/#{@team.program}/#{@team.number}/promote", method: 'POST'}
          %label Email Address
          %input{type: 'text', name: 'email'}
          %button.btn{type: 'submit'} Promote
  
  .card
    %table
      %thead
        %tr
          %th Status
          %th Name
          %th Contact Email
          %th Signature Date
      %tbody
        - @team.submissions.each do |result|
          %tr
            %td= result.payload['guardianName'].present? ? "M" : 'A'
            %td= result.payload['participantName']
            %td= result.payload['contactEmail']
            %td= result.payload['participantSignatureDate']
  
  - if @current_user.super_user
    .card
      %h2 Danger Zone
      %form{action: '/teams/#{@team.program}/#{@team.number}/delete', method: 'POST'}
        %button.btn{type: 'submit', class: 'fllc'} Delete Team