.card
  %a{href: "/"}
    = icon('backward')
    Back to Dashboard
  %br
  %br


- if (@teams&.count || 0) > 0
  .card
    %table
      %thead
      %tbody
        - @teams.each do |team|
          %tr
            %td
              %a{href: "/teams/#{team.program}/#{team.number}"}= icon('print-magnifying-glass')
            %td
              %div.badge{class: team.program&.downcase}= team.program
            %td= team.number
            %td= team.name
            %td= 0
