@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family-sans: 'Fira Sans', sans-serif;
  --font-family-serif: 'Merriweather', serif;

  --font-size-xs: 0.75rem;  
  --font-size-s: 0.875rem;  
  --font-size-m: 1rem;      
  --font-size-l: 1.125rem;  
  --font-size-xl: 1.25rem;  
  --font-size-xxl: 1.5rem;  
  --font-size-xxxl: 2rem;   
  --font-size-xxxxl: 2.5rem;

  --color-primary:          #0066b3;
  --color-primary-rotate:   #009cd7;
  --color-frc:              #009cd7;
  --color-ftc:              #f57e25;
  --color-fllc:             #ed1c24;
  --color-flle:             #00a651;
  --color-flld:             #662d91;

  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(206, 100%, 24%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       hsl(0, 1%, 16%);

  --color-text-header: var(--color-dark);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);

  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;   
  --space-s: 0.75rem;   
  --space-m: 1rem;      
  --space-l: 1.5rem;    
  --space-xl: 2rem;     
  --space-xxl: 2.5rem;  
  --space-xxxl: 3rem;   
  --space-xxxxl: 4rem; 
  
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

p {
  margin-bottom: var(--space-s);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
  margin-bottom: var(--space-s);
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: var(--space-xs);
}

h3 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-xxs);
}

h4 {
  font-size: var(--font-size-l);
}

hr {
  margin: 1em 0;
}

table, tbody {
  width: 100%;
}

th {
  text-align: left;
}

td {
  padding: 0 1em;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}

a:hover,
a:focus,
a:active {
  color: var(--color-primary-rotate);
}

.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 200ms, color 100ms;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.btn:hover,
.btn:focus,
.btn:focus-within,
.btn:active {
  color: var(--color-white);
  filter: saturate(1.4) brightness(115%);
  transition: filter 150ms, color 100ms;
}

.primary { background-color: var(--color-primary) !important; }
.frc { background-color: var(--color-frc) !important; }
.ftc { background-color: var(--color-ftc) !important; }
.fllc { background-color: var(--color-fllc) !important; }
.flld { background-color: var(--color-flld) !important; }
.flle { background-color: var(--color-flle) !important; }

.btn-form {
  margin-right: 1em;
}

.btn-massive {
  font-size: 3em;
  width: 100%;
  padding: var(--space-s) var(--space-xl);
}

.font-s {
  font-size: var(--space-s);
}

.badge {
  color: white;
  padding: var(--space-xxxs) var(--space-xxs);
  border-radius: 0.75em;
  font-weight: bold;
  margin: var(--space-xxxs);
  background-color: var(--color-dark);
}

#container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-top: var(--space-xxxxl);
  margin-bottom: var(--space-xxxxl);
  margin-left: auto;
  margin-right: auto;
}

#brand {
  margin-top: 1em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#brand img {
  height: 6em;
  margin-right: 1em;
}

#brand h1 {
  font-weight: 900;
  color: white;
}

.block {
  margin-bottom: var(--space-xl);
}

.spreader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.spreader > * {
  margin-right: var(--space-s);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.column > * {
  margin-bottom: var(--space-s);
}

.fx-1 { flex: 1; }
.fx-2 { flex: 2; }
.fx-3 { flex: 3; }

.formField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  margin: 0 0.33em;
}

.formField input {
  width: 100%;
}

.formField input[type="text"] {
  padding: 2px 0;
}

.formText {
  font-family: var(--font-family-serif);
  line-height: 1.33;
  margin: 0 1em;
}

span.filled {
  font-weight: bold;
  color: var(--color-primary);
}

.card {
  background-color: var(--color-light);
  color: var(--color-text-body);
  padding: var(--space-xl);
  margin: var(--space-l) 0;
  border-radius: var(--border-radius);
  border: thin solid #ccc;
}

.card .card {
  border: thin solid #ccc;
}

.formDetails {
  display: none;
}

.signatureRow {
  margin-bottom: var(--space-l);
}

.signatureBlock {
  border: thin solid #bbb;
  width: 100%;
  border-bottom: thin solid var(--color-dark);
}

.turbo-progress-bar {
  height: 5px;
  background-color: green;
}

.message {
  background-color: var(--color-light);
  border: thick solid var(--color-dark);
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px;
  max-width: 40vw;
  text-align: center;
}

.message.danger {
  background-color: #feecf0;
  border-color: #f14668;
  color: #cc0f35;
}

#affiliationPicker {
  padding: 2px;
  width: 36em;
  max-width: 50%;
}

#affiliationPicker option {
  padding: 2px 0;
}

button.remove {
  background-color: #feecf0;
  border-color: #f14668;
  color: #cc0f35;
  padding: 0 8px;
}

@media (min-width: 50rem) {
  #container {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    margin-top: var(--space-m);
    max-width: 60rem;
  }
}

@media print {
  body {
    color: black;
    background-color: white;
    font-size: 10pt;
  }

  #container {
    margin: 0 auto;
  }

  #brand {
    display: none;
  }

  .card {
    background-color: white;
    border: none;
    margin: none;
  }

  .formText {
    position: relative;
  }

  p {
    position: relative;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-region-break-inside: avoid;
  }

  .noprint {
    display: none;
  }

  #teamList {
    flex-direction: row;
  }
}